
<%- include("header"); -%>

<h2>Add</h2>

<form class="" action="/<%= types %>/add" method="post">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" required autocomplete="off">
      <label>Amount</label>
      <input class="form-control" type="text" name="amount" required autocomplete="off"></input>
    </div>
    <button class="btn" type="submit" name="button">SUBMIT</button>
    <button class="btn" type="submit" name="button"><a href="/<%= types %>">BACK</a></button>
  </form>