<%- include("header"); -%>

  <h1>Money Management</h1>
  <h2>Easy visualization of your money </h2>
  <div class="card">

    <div class="container">
      <h4><b>Debit</b></h4>
      <p>Add your debit info here->
        <a href="/debit" class="btn">Debit</a>
      </p>
    </div>


  </div>
  <div class="card">

    <div class="container">
      <h4><b>Credit</b></h4>
      <p>Add your credit info here->
        <a href="/credit" class="btn">Credit</a>
      </p>
    </div>


  </div>
  <div class="card">

    <div class="container">
      <h4><b>Others</b></h4>
      <p>Add yourother info here->
        <a href="/miscalleneous" class="btn">Others</a>
      </p>
    </div>


  </div>
  </div>



  </body>




  <%- include("footer"); -%>